COMPOSE_PROJECT_NAME=platform
POSTGRES_DB=platform
POSTGRES_USER=platform
POSTGRES_PASSWORD=platform
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
REGISTRY_ENDPOINT=http://registry:5000
KAFKA_TOPIC_PREFIX=platform.local
